# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript
*.js
*.js.map
*.d.ts
!*.config.js # Allow .config.js files (e.g., vitest.config.js)
!*.config.ts # Allow .config.ts files (e.g., vitest.config.ts)

# Build output
dist/
out/
build/

# Coverage
coverage/

# IDE specific
.vscode/
.idea/

# Artifact
*.tgz
*.tbz
*.tbz2
*.tar
